<% unless current_user.friends.empty? %>
  <section class="section"> 
    <div class="container">
      <div class="content">
        <h1>Friends</h1>
            <% current_user.friends.each do |friend| %>
                <div class="level">
                  <!-- Left side -->
                  <div class="level-left">
                    <div class="level-item">
                      <%= image_tag("default_avatar.png", size: "40x80") %>
                    </div>
                    <div class="level-item">
                      <p><strong><%= friend.username %></strong></p>
                    </div>
                  </div>
                </div>
            <% end %>
      </div>
    </div>
  </section>
<% end %>