<div class="container">
  <div class="content">
    <% @posts.each do |post| %>
      <div class="box">
        <article class="media">
          <figure class="media-left">
              <%= image_tag("default_avatar.png", size: "40x80", class: "image is-64x64") %>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= post.title %></strong> <small>@<%= post.user.username %></small> <small>31m</small>
                <br>
                <%= post.body %>
              </p>
            </div>
            <!-- controls for own posts -->
            <% if post.user == current_user %>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  link to edit
                </a>
                <a class="level-item">
                  link to delete
                </a>
              </div>
            </nav>
            <!-- controls for other user's posts -->
            <% else %>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  link to comment
                </a>
                <a class="level-item">
                  link to like
                </a>
              </div>
            </nav>
            <% end %>
          </div>
        </article>
      </div>
    <% end %>
  </div>
</div>