
<section class="section">
  <div class="container">
    <div class="content">
      <h1>Welcome to Fakebook</h1>

      <!-- create a post -->
      <%= render "new_post_form" %>

    </div>
  </div>
<br>

<!-- shows an existing post -->
<%= render "post_media" %>
  
</section>
