$navbar-item-img-max-height: 3rem;

@import "bulma";
@import "font-awesome";

#display-pic {
  border-radius: 50%;
  background-color:#3298dc;
  color: white;
  padding: .5em;
  font-size: 1.6em;
}

#navbar-title {
  color: white;
}